* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  background-color: #ffeabf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

h2 {
  text-align: center;
  font-size: 22px;
  color: #943a2c;
  font-weight: 700;
}

form#addFormOrders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 50%;
  background-color: #fffcf5;
  border: 1px solid;
}

input {
  width: 400px;
  height: 30px;
  padding: 2px;
  border-radius: 15px;
  border: 1px solid #943a2c;
}

button#btnAddNewOrder {
  background-color: #fff5d9;
  color: #c24319;
  padding: 4px;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  width: 140px;
  height: 50px;
  border: 1.7px solid #c24319;
  border-radius: 15px;
}
