* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border: 2px solid;
  display: flex;
  align-items: center;
  font-family: "Jost", sans-serif;
  background-color: #ffeabf;
}

section#nav-section {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
}

nav#navAdmin {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid green;
}

h2.titleNav {
  font-size: 1.8rem;
  font-weight: 700;
  color: #943a2c;
  text-decoration: underline;
}

ul#navList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

li {
  background-color: #fffcf5;
  border-radius: 15px;
}

a.navLink {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #c24319;
}

section#content-section {
  width: 70%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
}

div.container-dashboard {
  width: 80%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid orange;
}

div#content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid orange;
}

div.brief-info {
  width: 70%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid purple;
}
