* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.headerTable {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  gap: 20px;
  width: 100%;
}

button#addProds {
  background-color: #8c5a2e;
  color: #fffcf5;
  padding: 4px;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  border: 1px solid #fffcf5;
  border-radius: 15px;
}

table {
  margin-bottom: 1rem;
  border: 1px solid #8c5a2e;
}

thead {
  border: none;
  background-color: #8c5a2e;
}

th {
  color: #fffcf5;
}

td {
  border: 1px solid #8c5a2e;
  height: 18px;
  padding: 8px;
  background-color: #fffcf5;
}

.action-buttons-makanan {
  display: flex;
  gap: 5px;
  align-items: center;
}

button.update-makanan {
  background-color: #8c5a2e;
  color: #fffcf5;
  padding: 4px;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  border: 1px solid #fffcf5;
  border-radius: 15px;
}

button.hapus-makanan {
  background-color: #a63832;
  color: #fffcf5;
  padding: 4px;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  border: 1px solid #fffcf5;
  border-radius: 15px;
}
