* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border: 1px solid green;
}

table {
  margin-bottom: 9rem;
  border: 1px solid #8c5a2e;
}

thead {
  border: none;
  background-color: #8c5a2e;
}

th {
  color: #fffcf5;
}

button.update-user {
  background-color: #8c5a2e;
  color: #fffcf5;
  padding: 2px;
}

button.hapus-user {
  background-color: #a63832;
  color: #fffcf5;
  padding: 2px;
}
