* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border: 1px solid green;
}

table {
  margin-bottom: 9rem;
  border: 1px solid blue;
}

tr {
  background-color: 1px solid #8c5a2e;
}

th {
  color: #fffcf5;
}
